/*  */
:root {
  --accent-color: #2196f3;
  --logo: #000000;
  --title-text-color: #212121;
  --text-color: #757575;
  --contrast-white-color: #ffffff;
  --contrast-text-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* header */
/* logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo);
  /* text-decoration: none; */
}
.logo-accent {
  color: var(--accent-color);
}
/* header links */
.link {
  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts .link {
  color: var(--text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  /* фон для видимости белого текста заголовка */
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-white-color);
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--contrast-white-color);

  background-color: var(--accent-color);
}
/* Особенности */
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--title-text-color);
}

.features p {
  line-height: 1.71;

  color: var(--text-color);
}
/* Чем мы занимаемся */
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}
